.cards-container {
    width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    gap: 17px;
    margin-top: 47px;
}

@media (max-width: 320px) {
    .cards-container  {
        max-width: 282px;
        grid-template-columns: repeat(1, 282px);
        margin-top: 36px;
        margin-left: 19px;
        margin-right: 19px;
    }
}