.card-item__like {
    background-image: url(../../../images/like.svg);
    width: 22px;
    height: 19px;
    background-position: center;
    border: 0;
    background-color: white;
    cursor: pointer;
}