.footer__text-container {
    color: #545454;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    width: 880px;
    margin: 0 auto;
}

@media (max-width: 320px) {
    .footer__text-container  {
        max-width: 282px;
        font-size: 14px;
    }
}