.header__logo {
    background-image: url(../../../images/logo.svg);
    background-repeat: no-repeat;
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
    margin-top: 45px;
}

@media (max-width: 320px) {
    .header__logo {
        background-image: url(../../../images/logo_mobile.svg);
        width: 103.736px;
        height: 24.396px;
        margin: 28px 0px 31px 27px;
    }
}