.header {
    border-bottom: 1px solid #545454;
    width: 880px;
    height: 74px;
    margin: 0 auto;
}

@media (max-width: 320px) {
    .header {
        margin: 0;
        width: 320px;
        height: 56px;
    }
}